<section id="galleryfive">
	<div class="row sigmapad">
		
		<img src="assets/5/1.JPG" alt="Image 10" class="img-fluid sigmapad col-lg-6 col-md-12 col-sm-12">
		<img src="assets/5/3.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-6 col-md-12 col-sm-12">

		<div class="row sigmapad col-lg-7">
			<div class="row sigmapad col-lg-12">
				<img src="assets/5/6.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-12 col-sm-12">
				<img src="assets/5/2.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-12 col-sm-12">
				<img src="assets/5/5.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-12 col-sm-12">
			</div>
			
		</div>
		<div class="row sigmapad col-lg-5"  style="padding: 0px;">
			<img src="assets/5/10.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-12 col-sm-12">
			<img src="assets/5/9.JPG" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-12 col-sm-12">
		</div>
		<div class="row sigmapad col-lg-12">
			<div class="row sigmapad col-lg-4">
				<img src="assets/5/4.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-12 col-sm-12">
				<img src="assets/5/8.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-12 col-sm-12">
			</div>
			<div class="row sigmapad col-lg-8">
				<img src="assets/5/7.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-12 col-sm-12">
			</div>
		</div>
		
	</div>
</section>