<section id="galleryten">
	<div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
            	<hr class="sigma-hr">
            </div>
        </div>
		<div class="col-md-12 col-sm-12 col-lg-6">
			<img src="assets/10/4.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12">
			<img src="assets/10/1.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-6">
			<img src="assets/10/5.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-6">
		</div>
		
		<img src="assets/10/6.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-2">
		
		<img src="assets/10/8.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-4">
		<img src="assets/10/2.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-6">
	<!-- </div> -->
</section>