<section id="gallerynine">
	<div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
            	<hr class="sigma-hr">
            </div>
        </div>
	<div class="row sigmapad col-lg-12 col-md-6 col-sm-12">
		<img src="assets/9/1.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-3">
		<img src="assets/9/5.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-3">
		<img src="assets/9/3.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-3">
		<img src="assets/9/6.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-3">
	</div>
</section>