<section id="gallerythree">
    <div class="row sigmapad">
		<div class="row sigmapad col-lg-6" >
			
			<img src="assets/3/4.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-4 col-sm-6">

			
			<img src="assets/3/1.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-4 col-sm-6">

			
			<img src="assets/3/2.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-4 col-sm-6">
		</div>
		
		<div class="row sigmapad col-lg-6">
			
			<img src="assets/3/5.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-4 col-sm-6">
			
			
			<img src="assets/3/6.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-4 col-sm-6">
			
			
			<img src="assets/3/3.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12 col-md-4 col-sm-6">
		</div>
	</div>
</section>