<section id="galleryone">
	<div class="row">	
		
		<img src="assets/2/1.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-6 col-md-4 col-sm-6">

		
		<img src="assets/2/7.jpg" alt="Image 12" class="img-fluid sigmapad col-lg-6 col-sm-6">

		
		<img src="assets/2/2.JPG" alt="Image 11" class="img-fluid sigmapad col-lg-3 col-md-4 col-sm-6">

		
		<img src="assets/2/5.jpg" alt="Image 12" class="img-fluid sigmapad col-lg-3 col-sm-6">

		
		<img src="assets/2/4.jpg" alt="Image 12" class="img-fluid sigmapad col-lg-6 col-sm-6">

		
		<img src="assets/2/6.jpg" alt="Image 12" class="img-fluid sigmapad col-lg-6 col-sm-6">

    </div>
</section>