<section id="galleryseven">
	<div class="row sigmapad">
	<div class="row sigmapad col-lg-8">
			<img src="assets/7/16.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12">
			<img src="assets/7/4.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12">
		</div>

		<div class="row sigmapad col-lg-4">
			<img src="assets/7/3.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12">
			<img src="assets/7/1.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12">
			<img src="assets/7/5.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12">
			<img src="assets/7/2.jpg" alt="Image 10" class="img-fluid sigmapad col-lg-12">
		</div>
	</div>
</section>