<section id="gallery" >
	<div class="container-fluid">
    
    	<div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
            	<hr class="sigma-hr">
            </div>
        </div>

        <div class="row">
        </div>
    </div>
	<div class="row">
			  <div class="col-lg-4 col-md-4 col-sm-12">
				<a routerLink="/gallerynine" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 06">
				<img src="assets/9/cov.jpg" alt="Image 6" class="img-fluid sigmapad"></a>
			</div>
			  <div class="col-lg-4 col-md-4 col-sm-12">
				<a routerLink="/galleryeight" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 06">
				<img src="assets/8/cov.jpg" alt="Image 6" class="img-fluid sigmapad"></a>
			</div>   
			 <div class="col-lg-4 col-md-4 col-sm-12">
				<a routerLink="/galleryseven" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 06">
				<img src="assets/7/cov.jpg" alt="Image 6" class="img-fluid sigmapad"></a>
			</div> 
			 <div class="col-lg-4 col-md-4 col-sm-12">
				<a routerLink="/galleryone" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 01">
				<img src="assets/1/cov.jpg" alt="Image 1" class="img-fluid sigmapad"></a>
			</div>  
			<div class="col-lg-4 col-md-4 col-sm-12">
				<a routerLink="/gallerytwo" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 02">
				<img src="assets/2/cov.jpg" alt="Image 2" class="img-fluid sigmapad"></a>
			</div>
			<!-- <div class="col-lg-4 col-md-4 col-sm-12">
				<a routerLink="/gallerythree" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 03">
				<img src="assets/3/cov.jpg" alt="Image 3" class="img-fluid sigmapad"></a>
			</div> -->
			<div class="col-lg-4 col-md-4 col-sm-12">
				<a a routerLink="/galleryfour" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 04">
				<img src="assets/4/cov.jpg" alt="Image 4" class="img-fluid sigmapad"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<a routerLink="/galleryfive" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 05">
				<img src="assets/5/cov.jpg" alt="Image 5" class="img-fluid sigmapad"></a>
			</div>
			<!-- <div class="col-lg-4 col-md-4 col-sm-12">
				<a routerLink="/gallerysix" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 06">
				<img src="assets/6/cov.jpg" alt="Image 6" class="img-fluid sigmapad"></a>
			</div> -->

        </div>
</section>