<section id="gallery" >
	<div class="row" style="padding: 0px;">
			<a routerLink="/galleryseven" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 06">
            <img src="assets/7/cov.jpg" alt="Image 6" class="img-fluid sigmapad col-lg-4" title="Bicycle"></a>
			
			<a routerLink="/galleryone" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 01">
            <img src="assets/1/cov.jpg" alt="Image 1" class="img-fluid sigmapad col-lg-4 col-md-4 col-sm-6"></a>

			<a routerLink="/gallerytwo" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 02">
            <img src="assets/2/cov.jpg" alt="Image 2" class="img-fluid sigmapad col-lg-4 col-md-4 col-sm-4"></a>

			<a routerLink="/gallerythree" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 03">
			<img src="assets/3/cov.jpg" alt="Image 3" class="img-fluid sigmapad col-lg-4 col-md-4 col-sm-4"></a>

			<a a routerLink="/galleryfour" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 04">
			<img src="assets/4/cov.jpg" alt="Image 4" class="img-fluid sigmapad col-lg-4 col-md-4 col-sm-4"></a>

			<a routerLink="/galleryfive" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 05">
			<img src="assets/5/cov.jpg" alt="Image 5" class="img-fluid sigmapad col-lg-4 col-md-4 col-sm-4"></a>
			
            <a routerLink="/gallerysix" routerLinkActive="active" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 06">
            <img src="assets/6/cov.jpg" alt="Image 6" class="img-fluid sigmapad col-lg-4" title="Bicycle"></a>

        </div>
</section>