<div id="home" class="col-md-12 col-sm-12 col-lg-12">
	<div class="container-fluid">
        <div class="row sigma-home single-page-nav" style="padding-bottom: 25px;">
        	<div class="col-md-12 col-sm-12 col-lg-12">
        		<div class="col-md-12 col-sm-12 col-lg-12 text-center"><b><h1 style="font-weight: bolder;border: 6px solid #555555; border-style: solid; display: inline; padding: 16px;">DESTINEY KIRBY</h1></b></div>
                <!-- col-md-offset-2 col-lg-offset-3 col-lg-6 col-md-8 col-sm-12  -->
                    <div class="text-center" style="padding-top: 100px;">
                        <nav class="navbar navbar-light">
                          <ul class="nav navbar-nav single-page-nav">
                            <li class="nav-item">
                              <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" routerLink="gallery" routerLinkActive="active">Gallery</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
        </div>
        <!-- <li><a routerLink="/gallery" routerLinkActive="active">Applicants</a></li> -->
	</div>
    <div class="col-md-12 col-sm-12 col-lg-12">
        <router-outlet class="col-md-12 col-sm-12 col-lg-12"></router-outlet>
    </div>
</div>

	<div class="container-fluid">
    
    	<div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
            	<hr class="sigma-hr">
            </div>
        </div>

        <div class="row">
        </div>
    </div>

