<section id="home">
	<div class="container-fluid">
		<div class="col-lg-12">
		<div class="col-lg-6">
			
			<img src="assets/abt.jpg" alt="Image 12" class="img-fluid sigmapad col-lg-12 col-sm-12">
		</div>
        <div class="row sigma-section-header col-lg-6" style="padding: 35px; padding-top: 0px">
            <div>
            	<h1 style="color: #898989;">About Me</h1>
                <p style="color: #898989;">Hi, my name is Destiney! I am a premedical students at Arizona State University, studying Biomedical Sciences and Statistics. I spend most of my time studying, reading, doing yoga, hiking, traveling the world, and of course taking pictures. </p>
                <p style="color: #898989;">I first became interested photography during high school when I bought my first digital camera. As I practiced with various lighting and poses, I fell more in love with it. After a year on the digital camera, I finally invested in my first "big girl camera" and took the world by storm. Now I live to catch the smallest details of the big moments in your life. Lets get together.</p>
            </div>
        </div>
        </div>
	</div>
</section>